*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #EEEEEE;
    color: #222831;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
}

/*HEADER*/
header{
    color: #EEEEEE;
    background-image: url('backhground4.png');
    background-size:cover;
    background-attachment:fixed;
    background-position: center;
    background-repeat:no-repeat;
    height: 500px;
    display: flex;
    justify-content: center;
}
.navbar{
    padding: 0 2rem;
    width: 100%;
    height: 45px;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.4s ease-in-out;
    transition: border 0.4s ease-in-out;
    overflow: hidden;
    position: fixed;
    z-index:1; 
} 
.navbar .logo{
    font-size: 1.4rem;
    font-weight:500;
    transition: color 0.4s ease-in-out;
} 
.navbar .logo:hover{
    color: #EEEEEE;
    cursor: pointer;
} 
.navbar ul{
    display: flex;
    gap: 1.2rem;
  }
.navbar li {
    position: relative;
    display: block;
    color:#EEEEEE;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    padding: 4px 0;
    transition: 0.5s;
}
.navbar li::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 25px;
    top: 100%;
    left: 0;
    background: #00ADB5;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}
.navbar li:hover{
    color:#EEEEEE;
}
.navbar li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  } 
.navbar .toggle_btn{
    color: #EEEEEE;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

/*SCROLLED*/
.navbar a{
    transition: color 0.4s ease-in-out;
}
.navbar .toggle_btn{    
    transition: color 0.4s ease-in-out;
}
.navbar.scrolled{
    background-color: #EEEEEE;
    border-bottom: 1px solid #c0c0c0;
    opacity: 0.98;
    overflow: hidden; 
    position:fixed;
    top: 0;
}
.navbar.scrolled a{
    color: #222831;
}
.navbar.scrolled .toggle_btn{
    color: #222831;
} 

/*DROPDOWN MENU*/

.dropdown_menu{
    display: none;
    position:fixed;
    right: 2rem;
    top:45px;
    width: 300px;
    height: 0;
    background: #EEEEEE;
    backdrop-filter: blur(15px) ;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #222831;
}
.dropdown_menu.open{
    height: 240px;
    border: 0.5px solid #c0c0c0;
    border-top: 0;
}
.dropdown_menu li::after{
    top:90%;
    width: 40%;
    left: 30%;
    right: 30%;
}
.text_logo{
    font-size: 3.5rem;
    font-weight: 300;
    font-family: 'Playfair Display', serif;
    text-align: center;
    color:#EEEEEE ;
    height: fit-content;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.548);
    margin:  auto;
}
.line{
    background-color:#00ADB5;
    width: 60%;
    height: 6px;
    margin: 0 auto;
    margin-top: 2px;
} 
b{
    font-weight: 600;
}  
/*about*/
.about{
    margin-bottom: 1rem;
}
.about .content{
    width: 85%;
    margin: 0 auto;
    padding: 0.8rem;
}
h1{
    width: fit-content;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
}
.about p{
    font-size: 1rem;
    font-weight: 400;
    width: 68%;
    text-align: center;
    margin: auto;
}
.about img{
    width: 100%;
}
.about .logo{
    margin: 0 auto;
    width: 50%;
}
/*laboratory*/
.laboratory{ 
    background-color: #222831;
}
.laboratory .content{
    width: 90%;
    margin: 0 auto;
    padding: 0.8rem;
    
}
.laboratory h1{
    width: fit-content;
    color: #EEEEEE;
    text-align: center;
    margin: 0 auto;
}
.laboratory .line{
    width: 5%;
    height: 4px;
    background-color: #00ADB5;
}
.laboratory .some{
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    row-gap: 2rem;
}
.laboratory .some .card{
    width: 18rem;
    height: 20rem;
    
}
.laboratory .some .card .text{
    color: #EEEEEE;
    width: fit-content;
    display: flex;
    margin: auto;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 500;
    height: 10%;
    position: sticky;
}
.laboratory .some .card .hov{
    transition: all 0.5s;
    border-radius: 0.1rem;
    background-size: cover;
    background-position: center;
    height: 90%;
}
/*lab backgroun*/
.laboratory .some .card .lab{
    background-image: url('rinnovlab.jpg');
}
.laboratory .some .card .cyber{
    background-image: url('cyber.jpg');
}
.laboratory .some .card .blockchain{
    background-image: url('blockchain.jpg');
}
.laboratory .some .card .energy{
    background-image: url('energy.jpg');
}
.laboratory .some .card .health{
    background-image: url('health.jpg');
}
.laboratory .some .card .event{
    background-image: url('event.jpg');
}
.laboratory .hov:hover{
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.781);
    cursor: pointer;
    transform: translateY(-0.5%);
    overflow: hidden;
    
}
.hov{
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
}
.hov:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
.laboratory a{
    cursor: pointer;
}

/*footer*/
.footer{
    width: 100%;
    margin-top: 50px;
    background-color: #222831;
} 
.footer_container{
    width: 90%;
    margin: 0 auto;
}
.footer_top{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 15px 0;
}
.footer_title{
    font-size: 18px;
    color: #EEEEEE;
    font-weight: 500;
    margin-bottom: 20px;
} 
.footer .list{
    display: flex;
    flex-direction:column ;
    gap: 8px;
    transform: color 0.25s;
    color:#c0c0c0;
}
.footer li a{
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    padding: 4px 0;
    transition: 0.5s;
    text-decoration: none;
    color:#c0c0c0;

}
.footer li{
    display: block;
    text-decoration: none;
} 
.footer li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 25px;
    top: 100%;
    left: 0;
    background: #00ADB5;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
} 
.footer li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
 } 
.footer_divider{
    height: 1.5px;
    width: 100%;
    background-color: #393E46;
}
.footer_bottom{
    color: #c0c0c0;
    padding: 10px 0;
}

/*contact_us*/
.contact_us{ 
}
.contact_us_container{
    width: 84%;
    border-radius: 5px;
    height: 33rem;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.contact_us img{ 
    width: 100%;
}
.contact_us_left{
    width: 55%;
    background-color: #eeeeeedc;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    padding: 2% 13% 2% 3%;
}
.contact_us_header{
    font-size: 38px;
    text-align: center;
}  
/*RESPONSIVE DESIGN*/
@media(min-width:1300px)and(max-width:1500px){
    .text_logo{
        font-size: 2.5rem;
        width: 40%;
        margin-left: 18%;
        margin-top: 14%;
        margin-right: auto;
    }
}
@media (max-width: 982px) and (min-width:600px){
    .navbar .links{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
        position: fixed;
    }
    .text_logo{
        font-size: 2.8rem;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
    .about p{
        font-size: 1rem;
    }
}
@media (max-width:600px){
    .navbar .links{
        display: none;
    }
    .navbar .logo{
        font-size: 1rem;
        font-weight:300;
    }
    .text_logo{
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 40%;
    }
    .navbar .toggle_btn{
        display: block;
    }
    header{
    }
    .dropdown_menu{
        display: block;
        width: 100%;
        right: 0rem;
        position: fixed;
    }
    .about p{
        font-size: 0.7rem;
    }
}
@media (max-width:325px){
    .navbar .links{
        display: none;
    }
    .navbar{
        padding: 0 0.4rem;
    }
    .navbar .logo{
        font-size: 0.9rem;
        font-weight:300;
    }
    .navbar .toggle_btn{
        display: block;
    }
    header{
        background-position: -30rem;
    }
    .text_logo{
        margin-top: 45%;
        font-weight: 500;
    }
    .about p{
        font-size: 0.6rem;
    }
}
