*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@-webkit-keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
    80% {
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-10rem);
    }
    80% {
      transform: translateX(1rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
}

:root{
    --blue: #0089C2;
    --darkblue: #000F22;
    --white: #EEEEEE;

}
body{
    background-color: var(--white);
    color: var(--darkblue);
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    font-size: 1rem;
    letter-spacing: .4px;
    font-family: "Ubuntu";
    width: 100%;
}
.top60px{
    padding-top: 60px;
}
/*HEADER*/
header{
    color: var(--white);
    background-image: url('AdobeStock_413702999.webp');
    background-size:cover;
    background-attachment:fixed;
    background-position:bottom;
    background-repeat:no-repeat;
    height: 75vh;
    display: flex;
    justify-content: center;
    position: relative;
}
.navbar{
    padding: 0 2rem;
    width: 100%;
    height: 60px;
    max-width: 1500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.4s ease-in-out;
    transition: border 0.4s ease-in-out;
    overflow: hidden;
    position: fixed;
    z-index:10;     
    top: 0;
} 
.navbar .logo{
    font-size: 1.4rem;
    font-weight:600;
    letter-spacing: 0.1rem;
    transition: color 0.4s ease-in-out;
} 
.navbar .logo a:hover{
    cursor: pointer;
    color: var(--blue);
} 
.navbar ul{
    display: flex;
    gap: 1.2rem;
  }
.navbar li {
    position: relative;
    display: block;
    color:var(--white);
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    padding: 4px 0;
    transition: 0.5s;
}
.navbar li::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 25px;
    top: 100%;
    left: 0;
    background: var(--blue);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}
.navbar li a:hover{
    color:var(--blue);
}
.navbar li:hover::after {
    transform: scaleX(1);
    transform-origin: left;
} 
.navbar .toggle_btn{
    color: var(--white);
    cursor: pointer;
    font-size: 1.5rem;
    transition: color 0.4s ease-in-out;
    display: none;
}

/*SCROLLED*/
.navbar a{
    transition: color 0.4s ease-in-out;
    text-decoration: none;
    list-style: none;
    color: var(--white);
}
.navbar.scrolled{
    background-color: var(--white);
    opacity: 0.98;
    overflow: hidden; 
    position:fixed;
    top: 0;
    box-shadow: 0px 5px 10px 0px #2228313a;
}
.navbar.scrolled a{
    color: var(--darkblue);
}
.navbar.scrolled .logo a{
    color: var(--blue);
}
.navbar.scrolled .logo a:hover{
    color: var(--darkblue);
}
.navbar.scrolled .toggle_btn{
    color: var(--darkblue);
} 

/*DROPDOWN MENU*/

.dropdown_menu{
    display: none;
    position:fixed;
    right: 2rem;
    top:60px;
    width: 300px;
    height: 0;
    background: var(--white);
    backdrop-filter: blur(15px) ;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
    transition: height 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkblue);
    width: fit-content;
    margin: auto;
}
.dropdown_menu a{
    color: var(--darkblue);
}
.dropdown_menu.open {
    height: 18rem;
    border: 0.5px solid #c0c0c0;
    border-top: 0;
}
.dropdown_menu.close{
    display: none;
}
.toggle_btn:hover .navbar{
    background-color: #0089C2;
}
.dropdown_menu li::after{
    top:90%;
    width: 100%;
    left: 0%;
    right: 30%;
}

.text_logo{
    /*margin-left: 9%;*/
    width: 100%;
    padding:0 4rem;
}
.logo-wrapper{
    display: flex;
    flex-direction: row;
    align-items:end;
    justify-content: space-between;
    flex-wrap: wrap;
}
.text_logo_container{
    background-image: linear-gradient(244deg,rgba(0, 123, 189, 0.925),rgb(0, 63, 97));
    border-radius: 4px;
    box-shadow: 0 25px 100px 0 rgba(0,0,0,.15), 0 2px 4px 0 rgba(0,0,0,.5);
    width: fit-content;
    padding: 6rem 5rem 6rem 2rem;
    position: relative;
    margin-top: -13rem;
}
.text_logo h1{
    text-align: left;
    font-family: "Ubuntu";
    font-weight: 500;
    font-size: 2.3rem;
    line-height: 55px;
    letter-spacing: .12px;
    text-transform: uppercase;
    color: #fff;
    -webkit-animation-name: moveInLeft;
    animation-name: moveInLeft;
-webkit-animation-duration: 1s;
    animation-duration: 1s;
-webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
.title{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: reverse;
    justify-content: center;
    align-items: center;
}
b{
    font-weight: 600;
}  
.logo1{
}
.logo1-img{
    width: fit-content;
    padding: 5px;
    /*right: 6%;
    top: -5rem;
    position: absolute;*/
}
.logo1 img{
    width: 23rem;
}

.text_logo_mob_wrapper{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    display: none;
}
.text_logo_mob{
    width: fit-content;
    background-image: linear-gradient(244deg,rgba(0, 123, 189, 0.74),rgba(1, 48, 73, 0.959));
    border-radius: 4px;
    box-shadow: 0 25px 100px 0 rgba(0,0,0,.15), 0 2px 4px 0 rgba(0,0,0,.5);
    padding: 5rem 3rem 5rem 1rem;
}
.text_logo_mob h1{
    text-align: left;
    -webkit-animation-name: moveInLeft;
    animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}


/*about*/
.about{
    position: relative;
    margin-bottom: 3rem;
}
.about .content{
    width: 70%;
    margin: 0 auto;
    
}
h1{
    width: fit-content;
    text-align: center;
    margin: 0 auto;
    font-size: 2.2rem;
    letter-spacing: 0.05rem;
    font-weight: 400;
}
h2{
    font-size: 1.75rem;
    color: var(--darkblue);
    letter-spacing: .12px;
    line-height: 32px;
    font-family: "Ubuntu";
    font-weight: 400;
}
h4{
    font-size: 1.125rem;
    letter-spacing: .4px;
    line-height: 24px;
    font-family: "Ubuntu";
    font-weight: 400;
}
p{
    font-size: 1rem;
    letter-spacing: .4px;
    line-height: 1.5rem;
    font-family: "Ubuntu";
    font-weight: 300;
}
.about p{
    font-size: 1rem;
    color: var(--darkblue);
    letter-spacing: .4px;
    line-height: 1.5rem;
    font-family: "Ubuntu";
    font-weight: 300;
    text-align: center;
    margin: auto;
}
.about .line{
    margin-bottom: 1rem;
    margin-top: -2px;
}

/*News*/
#News-Events{
    height: 58px;
    width: 100%;
}
.news{
    padding-bottom: 3rem;
}
.news-title h1{
    height: fit-content;
    background-color: var(--blue);
    color: var(--white);
    padding: 1.2rem 0;
    padding-left: 4rem;
    width: 100%;
    text-align:left ;
}
.news-item-img img{
    width: 100%;
    overflow: hidden;
    height: auto;
    vertical-align: middle;
    transition: transform .3s;
}
.news-item-img{
    overflow: hidden;
    position: relative;
}
.news-container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
}
.news-item{
    width: 25rem;
    background-color: #fff;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.438);
    position: relative;
    box-sizing: inherit;
    overflow: hidden;
    padding-bottom: 4rem;
    min-height: fit-content;
}
.news-item-img{
    height: 40%;
}
.news-item-title h4{
    color: var(--darkblue);
    margin: 0.7rem 0.7rem 0 0.7rem;
}
.news-item-description p{
    color: rgb(88, 88, 88);
    margin: 0.7rem  0.7rem 0 0.7rem ;
}
.news .read-more h4{
    color: rgb(88, 88, 88);
    margin-top: 0.8rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}
.news .read-more:hover{
    cursor: pointer;
}
.news-item-img img:hover{
    cursor: pointer;
    transform: scale(1.1);
}


/*laboratory*/
.laboratory{ 
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1043%26quot%3b)' fill='none'%3e%3crect width='1440' height='800' x='0' y='0' fill='rgba(0%2c 15%2c 34%2c 1)'%3e%3c/rect%3e%3cpath d='M1440 0L1095.25 0L1440 385.13z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1095.25 0L1440 385.13L1440 510.74L1035.58 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1035.58 0L1440 510.74L1440 653.1700000000001L682.3299999999999 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M682.3299999999999 0L1440 653.1700000000001L1440 703.0400000000001L224.7299999999999 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 800L669.44 800L0 575.17z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 575.17L669.44 800L930.3100000000001 800L0 312.91999999999996z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 312.91999999999996L930.3100000000001 800L1120.66 800L0 139.75999999999996z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 139.76L1120.66 800L1319.14 800L0 122.05999999999999z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1043'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    background-attachment: fixed;
}
.laboratory .content{
    width: 90%;
    margin: 0 auto;
    padding: 0.8rem;
    padding-bottom: 4rem;
}
.laboratory h1{
    width: fit-content;
    color: var(--white);
    text-align: left;
    margin: 0 auto;
    width: 100%;
}
.laboratory .some{
    margin: 0 auto;
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    row-gap: 2rem;
}
.laboratory .some .card{
    width: 19rem;
    height: 20rem;
    position: relative;
    background-color: aquamarine;
    overflow: hidden;
}
.laboratory .some .card .text{
    color: var(--white);
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: .5px;
    line-height: 1.5rem;
    font-family: "Ubuntu";
    font-weight: 300;
    position: absolute;
    bottom: 0;
    padding: 0.7rem;
    background-color: #000f22c9;
}
.laboratory  .card-img{
    background-color: #393E46;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.laboratory .some .card img{
    height: 105%;
    transition: transform .3s;
}
.card-img img:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/*partners*/
.partners{
    background-color: var(--white);
    width: 100%;
    margin-bottom: 1rem;
}
.partners_title h1{
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.partners_container{
    width: 85%;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.partners_item{
    width: 17rem;
    height: 12rem;
    display: flex;
    justify-content: center;
}
.partners_item img{
    display: block;
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: contain;
    mix-blend-mode:multiply;
}
/* join_us */
.join_us{
    height: fit-content;
    display: flex;
    margin-bottom: 6rem;
}
.join_us_txt{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='800' height='400' preserveAspectRatio='none' viewBox='0 0 800 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1064%26quot%3b)' fill='none'%3e%3crect width='800' height='400' x='0' y='0' fill='rgba(0%2c 15%2c 34%2c 1)'%3e%3c/rect%3e%3cpath d='M394.08 406.72C460.88 397.98 472.73 265.08 609.28 244.5 745.83 223.92 754.71 72.46 824.48 60.5' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M412.72 430.47C479.22 403.66 432.22 212.49 582.36 199.21 732.5 185.93 833.75 108.02 921.63 107.21' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M184.92 420.27C258.41 402.09 235.51 203.43 395.95 203.07 556.39 202.71 708.84 314.12 818 315.07' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M117.65 429.56C191.17 423.42 240.31 274.61 368.46 274.04 496.61 273.47 493.87 324.04 619.28 324.04 744.68 324.04 806.15 274.28 870.09 274.04' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M228.18 409.3C340.92 381.83 385.25 79.05 552.94 77.71 720.63 76.37 786.86 237.15 877.7 241.71' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1064'%3e%3crect width='800' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    width: fit-content;
    padding: 2rem 0.5rem 2rem 4rem ;
    padding-right: 9rem;
    z-index: 1;
}
.join_us_txt h3{
    font-size: 2.3rem;
    letter-spacing: .12px;
    line-height: 40px;
    font-family: "Ubuntu";
    font-weight: 500;
    text-align: left;
    color: #fff;
    margin-bottom: 2rem;
}
.join_us_txt h4{
    font-size: 1.3rem;
    line-height: 25px;
    letter-spacing: 0.12px;
    line-height: 30px;
    color: #fff;
    font-weight: 300;
}
.join_us_img{
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #1b5aad;
}

.join_us_img img{
    width: 190%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.join_us .button {
    height: 50px;
    width: 200px;
    margin-top: 1em;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #ffffff;
    overflow: hidden;
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.join_us .btn-txt {
    z-index: 1;
}

.join_us .type1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    background-color: var(--blue);
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}
.join_us .button:hover {
    box-shadow: 1px 1px 100px #0e0d0d;
    color: #000;
    border: none;
}
.join_us .type1:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px) ;
}
.join_us a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: .12px;
    line-height: 40px;
    font-family: "Ubuntu";
    font-weight: 400;
    text-align: left;
    vertical-align: middle;
}

/*missions*/
.missions{
    background-color: var(--darkblue);
    width: 100%;
    margin-bottom: -50px;
}
.missions_title h1{
    color: var(--white);
    width: fit-content;
    margin: auto;
}
.missions_container{
    margin: auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 1.8rem;
    position: relative;
    margin-bottom: 10rem;
}
.missions_item{
    width: 49%;
    height: 9rem;
    background-color: var(--white);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.check{
    background-color: var(--darkblue);
    width: 50px !important;
    height: 50px !important;
    position: relative;
    border-radius: 100%;
}
.check img{
    width: 2rem;
    height: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.missions_text h3{
    width: 100%;
    height: 85%;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.missions_text{
    width: 90%;
}


.membership{
    background-color: var(--white);
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -13.4rem;
    left: 10%;
    padding: 0.5rem;
}
.membership-img img{
    width: 100%;
}
.membership-img{
    width: 35%;
    display: flex;
    align-items: center;
}
.membership-txt h2{
    text-align: center;
    color: var(--darkblue);
}

/*research focus*/
.research-focus{
    margin-top: 2rem;
    background-image: url('architect.webp');
    background-attachment: fixed;
    background-size: cover;
    padding-top: 0.1rem;
    padding-bottom: 7rem;
}
.accordion {
    width: 80%;
    margin: 90px auto;
    margin-bottom: 0;
    color: var(--white);
    padding: 45px 45px;
    font-size: 1rem;
}
.accordion .container {
    position: relative;
    margin: 10px 10px;
}
.accordion .label {
    position: relative;
    padding: 10px 0;
    font-size: 1.5rem;
    color: var(--white); 
    cursor: pointer;
}
.accordion .label::before {
    content: '+';
    color: var(--white);
    position: absolute;
    font-size: 30px;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
}
.accordion .content p{
    position: relative;
    height: 0;
    text-align: justify;
    overflow: hidden;
    transition: 0.5s;
    margin-left: 0.8rem;
    margin-top: 1rem;
}
.accordion hr {
    width: 100;
    margin-left: 0;
    border: none;
    border-bottom: 1px solid #393E46;

}
.accordion .container.active .content p{
    height: 6rem;
}
.accordion .container.active .label::before {
    content: '-';
    font-size: 30px;
}
/*contact_us*/
.contact_us_container{
    width: 40%;
    border-radius: 5px;
    height: fit-content;
    margin: auto;
    margin-top: 0.5rem;
    position: relative;
    overflow: hidden;
}
.contact_us_header h1{
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--white);
}  
.contact_us fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact_us #mail, .contact_us #full_name, .contact_us textarea{
    background-color: var(--white);
    margin-bottom: 0.7rem;
    border: none;
    width: 1000%;
    padding-left: 2rem;
}
.contact_us input{
    height: 50px;
}
.contact_us textarea{
    padding-top: 1rem;
    height: 7rem;
}
#mail:focus, #full_name:focus , textarea:focus{
    outline: none;
}
#mail:focus, #full_name:focus {
    border-bottom: 3px solid var(--blue);
    padding-top: 3px;
}
.contact_us #submit{
    text-align: center;
    width: 100%;
    display: block;
    margin: auto;
    border: none;
    background-color: var(--blue);
    color: var(--darkblue);
    font-size: 1.3em;
    font-weight: 500;
}




/*footer*/
.footer{
    width: 100%;
    margin-top: 50px;
    background-color: var(--darkblue);
} 
.footer_container{
    width: 90%;
    margin: 0 auto;
}
.footer_top{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 15px 0;
}
.adresse , .contact , .onrst{
    max-width: 250px;
}
.footer h4{
    color: var(--white);
    margin-bottom: 20px;
} 
.footer .list{
    display: flex;
    flex-direction:column ;
    gap: 8px;
    transform: color 0.25s;
    color:var(--white);
}
.footer li a{
    position: relative;
    cursor: pointer;
    padding: 4px 0;
    transition: 0.5s;
    text-decoration: none;
    color:var(--white);

}
.footer li{
    display: block;
    text-decoration: none;
    width: fit-content;
} 
.footer li a::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 25px;
    top: 100%;
    left: 0;
    background: var(--blue);
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
} 
.footer li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
} 
.footer_divider{
    height: 1.5px;
    width: 100%;
    background-color: #393E46;
}
.footer_bottom{
    color: var(--white);
    padding: 10px 0;
    font-size: 1rem;
}

/*RESPONSIVE DESIGN*/
@media (max-width: 1100px){
    .navbar .links{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
        position: fixed;
    }
    .text_logo{
        padding: 0 1rem;

    }
    
    .accordion .container.active .content p{
        height: 9rem;
    }
}
@media (max-width:1000px){
    header{
        height: 70vh;
    }
    .text_logo{
        display: none;
    }
    .dropdown_menu{
        display: block;
        width: 100%;
        right: 0rem;
        position: fixed;
    }
    .text_logo_mob_wrapper{
        display: flex;
    }
    .join_us{
        flex-direction: column-reverse;
        height: auto;
        margin-top: 2rem;
        background-color: var(--darkblue);
    }
    .join_us_img{
        height: 10rem;
    }
    .join_us_img img{
        width: 100%;
    }
    .join_us_txt{
        display: block;
        width: 100%;
        padding: 1rem ;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='300' height='300' preserveAspectRatio='none' viewBox='0 0 300 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='300' height='300' x='0' y='0' fill='rgba(0%2c 15%2c 34%2c 1)'%3e%3c/rect%3e%3cpath d='M98.67 356.71C116.28 356.49 100.86 347.1 166.09 336.25 231.33 325.4 252.45 200.09 300.94 186.25' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M11.06 314.09C66.87 293.46 61.55 142.85 156.7 125.83 251.85 108.81 262.39 61.35 302.34 59.83' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M101.49 317.28C151.5 278.34 142.81 94.65 207.7 87.07 272.58 79.49 281.21 161.03 313.9 165.07' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M122.3 353.1C161.47 310.21 132.98 138.03 198.54 133.64 264.1 129.25 306.88 220.37 351.03 223.64' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M27.84 304.4C73.65 266.75 59.41 100.69 123.73 87.45 188.04 74.21 171.67 124.95 219.61 124.95 267.56 124.95 289.77 88.11 315.5 87.45' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='300' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-size: 100%;
    }
    .join_us h3{
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    .join_us h4{ 
        font-size: 0.9rem;
        letter-spacing: .4px;
        line-height: 1.5rem;
        font-weight: 200;
        text-align: left;
    }
    .join_us .button{
        height: 2rem;
        width: 9rem;
        margin-top: 1rem;
    }
    .join_us .btn-txt{
        font-size: 1rem;
        vertical-align: middle;
        line-height: inherit;
    }
    .accordion .container.active .content p{
        height: 10rem;
    }
    
    .contact_us{
        width: 100%;
    }
    .contact_us_container{
        width: 80%;
    }
    .contact_us h1{
        font-size: 1.75rem;
        font-weight: 400;
    }
}

@media (max-width:840px){
    .missions h3{
        font-size: 0.8rem;
    }
    .missions_item{
        height: 6rem;
        width: 23rem;
    }
    .accordion .container.active .content p{
        height: 16rem;
    }
    .accordion {
        width: 100%;
    }
    .contact_us{
        width: 100%;
    }
    .contact_us_container{
        width: 80%;
    }
    .contact_us h1{
        font-size: 1.75rem;
        font-weight: 400;
    }
}
@media (max-width:550px){
    .navbar .links{
        display: none;
    }
    .navbar{
        padding: 0 0.4rem 0rem 1rem;
    }
    .navbar .logo{
        font-size: 1rem;
        font-weight: 500;
    }
    header{
        height: 60vh;
        background-position-y:-200px;
    }
    .text_logo_mob{
        padding: 3rem 1rem;
    }
    .text_logo_mob h1{
        font-size: 1.5rem;
        line-height: 40px;
        text-align: left;
    }
    .about{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .about p{
        font-size: 0.9rem;
        letter-spacing: .4px;
        line-height: 1.5rem;
        font-weight: 300;
        text-align: left;
    }
    p{
        font-size: 0.9rem;
        letter-spacing: .4px;
        line-height: 1.5rem;
        font-weight: 300;
        text-align: left;
    }
    .about h1{
        margin-bottom: 1rem;
    }
    .about .content{
        width: 100%;
    }
    h1{
        font-size: 1.5rem;
        line-height: 40px;
    }
    h2{
        font-size: 1.75rem;
        letter-spacing: .12px;
        line-height: 32px;
        font-weight: 400;
    }
    h3{
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 32px;
    letter-spacing: .12px;
    }
    .news h1{
        font-size: 1.5rem;
        padding-left: 1rem;
    }
    .news-container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .news .news-item{
        height: 28rem;
        width: 21rem;
    }
    .news h4{
        font-size: 0.9rem;
    }
    .news p{
        font-size: 0.7rem;
    }
    b{
        font-weight: 500;
    }
    .laboratory .content{
        padding: 0;
        padding-top: 4rem;
        width: 100%;
    }
    .laboratory{
        padding: 0;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='400' height='600' preserveAspectRatio='none' viewBox='0 0 400 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='400' height='600' x='0' y='0' fill='rgba(0%2c 15%2c 34%2c 1)'%3e%3c/rect%3e%3cpath d='M400 0L236.92 0L400 159.69z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M236.92 0L400 159.69L400 200.14L131.67 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M131.66999999999996 0L400 200.14L400 356.15L102.55999999999996 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M102.55999999999995 0L400 356.15L400 464.92999999999995L89.56999999999995 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 600L112.32 600L0 594.58z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 594.58L112.32 600L200.37 600L0 292.28000000000003z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 292.28L200.37 600L268.08 600L0 183.26999999999998z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 183.26999999999998L268.08 600L329.87 600L0 80.46999999999998z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='400' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    }
    .laboratory .title{
        width: fit-content;
        margin-left: 1rem;
    }
    .laboratory h1{
        width: 100%;
        text-align: left;
    }

    .partners .title{
        width: 100%;
        justify-content: left;
    }
    .partners_title{
        margin-left: 1rem;
    }
    .partners_title h1{
        font-size: 1.5rem;
    }
    .partners_container{
        width: 100%;
        gap: 5px;
        column-gap: 55px;
    }
    .partners_item{
        width: 8rem;
        height: 8rem;
    }
    .join_us{
        flex-direction: column-reverse;
        height: fit-content;
        margin-top: 2rem;
        background-color: #000F22;
    }
    .join_us_img{
        height: 10rem;
        width: 100%;
    }
    .join_us_txt{
        width: 100%;
        padding: 1rem ;
        background-image: none;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='300' height='300' preserveAspectRatio='none' viewBox='0 0 300 300'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='300' height='300' x='0' y='0' fill='rgba(0%2c 15%2c 34%2c 1)'%3e%3c/rect%3e%3cpath d='M98.67 356.71C116.28 356.49 100.86 347.1 166.09 336.25 231.33 325.4 252.45 200.09 300.94 186.25' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M11.06 314.09C66.87 293.46 61.55 142.85 156.7 125.83 251.85 108.81 262.39 61.35 302.34 59.83' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M101.49 317.28C151.5 278.34 142.81 94.65 207.7 87.07 272.58 79.49 281.21 161.03 313.9 165.07' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M122.3 353.1C161.47 310.21 132.98 138.03 198.54 133.64 264.1 129.25 306.88 220.37 351.03 223.64' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3cpath d='M27.84 304.4C73.65 266.75 59.41 100.69 123.73 87.45 188.04 74.21 171.67 124.95 219.61 124.95 267.56 124.95 289.77 88.11 315.5 87.45' stroke='rgba(238%2c 238%2c 238%2c 0.17)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='300' height='300' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-size: cover;
    }
    .join_us h3{
        font-size: 1.4rem;
        font-weight: 300;
        margin-bottom: 1rem;
    }
    .join_us h4{ 
        font-size: 0.9rem;
        letter-spacing: .4px;
        line-height: 1.5rem;
        font-weight: 200;
        text-align: left;
    }
    .join_us .button{
        height: 2rem;
        width: 9rem;
        margin-top: 1rem;
    }
    .join_us .btn-txt{
        font-size: 1rem;
        vertical-align: middle;
        line-height: inherit;
    }
    
    .title{
        width: 100%;
        justify-content: left;
        margin-bottom: 1rem;
    }
    .missions_title{
        width: fit-content;
        margin-left: 1rem;
    }
    .missions_title h1{
        font-size: 1.5rem;
    }
    .missions_container{
        width: 100%;
        margin: 0;
        padding: 0;
        padding-bottom: 6rem;
        justify-content: left;
    }
    .missions .check{
        width: 2.2rem !important;
        height: 2.2rem !important;
    }
    .missions .check img{
        width: 1.5rem;
        height: auto;
    }
    .missions_item{
        width: 90%;
        height: 6.5rem;
        padding: 0 0.3rem;
        padding-left: 1rem;
        margin-left: 1rem;
    }
    .missions h3{
        font-size: 0.8rem;
        letter-spacing: .4px;
        line-height: 1.5rem;
        font-weight: 300;
    }
    .membership{
        bottom: -5rem;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0.9rem;
    }
    .membership h2{
        font-size: 1.1rem;
        line-height: 25px;
    }
    .accordion{
        width: 100%;
        padding: 2rem 1rem;
    }
    .accordion .container.active .content p{
        height: 17rem;
    }
    .accordion .title{
        width: fit-content;
        margin-left: 0;
    }
    .accordion h1{
        font-size: 1.75rem;
    }
    .accordion .label{
        font-size: 1.2rem;
        line-height: 25px;
        letter-spacing: .12px;
        font-weight: 300;
        padding: 0;
    }
    .accordion p{
        font-size: 0.9rem;
        letter-spacing: .4px;
        line-height: 1.5rem;
        font-weight: 300;
    }
    .accordion .container{
        margin-bottom: 10px;
        padding: 5px;
    }
    .accordion hr{
        margin-top: -0.8rem;
        border-bottom: 1px solid #eeeeee49;
    }

    .contact_us{
        width: 100%;
    }
    .contact_us_container{
        width: 80%;
    }
    .contact_us h1{
        font-size: 1.75rem;
        font-weight: 400;
    }
}

@media (max-width:380px){
    .navbar .logo{
        font-size: 0.8rem;
        font-weight: 500;
        letter-spacing: 0.1rem;
    }
    header {
        background-position-y: -30px;
    }
    .text_logo_mob{
        padding: 2rem 0.7rem;
    }
    .text_logo_mob h1{
        font-size: 1.2rem;
        line-height: 20px;
        text-align: left;
        letter-spacing: 0.01rem;
    }
}
